<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <!--  Essential META Tags -->
    <meta property="og:title" content="Tensure Consulting">
    <meta property="og:description" content="Boutique consulting firm specializing in startup acquisition integration">
    <meta property="og:image" content="http://tensure.io/assets/tensure_LinkedIn_cover_1-01.png">
    <meta property="og:url" content="http://tensure.io">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Tensure Consulting">
    <!--  Non-Essential, But Required for Analytics -->
    <!-- <meta property="fb:app_id" content="your_app_id" />
  <meta name="twitter:site" content="@website-username"> -->

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/app.js"></script>
</head>

<body>
    {% include nav.html %}
    {% include header.html %}
    {% if content != "" %}
    <section class="section">
        {{ content }}
    </section>
    {% endif %}
    <!-- {% include footer.html %} -->
</body>

</html>